doctype html
html(lang='en')
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        | <meta name="keywords" content="颐众">
        | <meta name="description" content="颐众">
        | <meta name="apple-mobile-web-app-title" content="颐众">

        meta(name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
        meta(name="apple-mobile-web-app-status-bar-style" content="black")
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="apple-mobile-web-app-title" content= title)
        meta(http-equiv="pragma" content="no-cache")
        meta(http-equiv="cache-control" content="no-cache")
        meta(http-equiv="expires" content="0")
        link(rel='stylesheet', type='text/css', href='./main.css')
        script(type="text/javascript",src="./vendor.js")
        script(type="text/javascript",src="./bundle.js")

        title 颐众商城

    body
        .w-container
            h1 促销活动页面
